@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #272a31;
}

/* header */
header {
  height: 100px;
  padding-top: 15px;
}

#hamburger-menu-icon {
  color: #272a31;
  font-weight: 700;
  font-size: 40px;
  margin-left: 30px;
}

#hero {
  margin-inline: 15px;
}

#hero p {
  color: #ec5242;
  font-size: 22px;
}

#hero-heading {
  background-image:
    linear-gradient(45deg, rgba(255, 25, 31, 0.6), rgba(187, 10, 15, 1), rgba(236, 82, 66, 1)),
    url('../images/coins.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 900;
  line-height: 110%;
  margin-top: 10px;
}

#hero-description {
  border: 3px solid #fff;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 24px;
  max-width: 670px;
}

#dates {
  margin-inline: 10px;
  padding-inline: 5px;
  padding-bottom: 100px;
}

#dates #hero-bold {
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0.8;
}

#dates #venue {
  letter-spacing: 1.5px;
  opacity: 0.9;
}
