@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #272a31;
  position: relative;
}

/* header */
header {
  height: 100px;
}

#home-nav {
  height: 100%;
  background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url("../images/coins.jpg");
  background-size: cover;
}

.navbar {
  display: none;
  list-style: none;
}

.hamburger-menu-icon {
  color: #272a31;
  font-weight: 700;
  font-size: 40px;
  margin-left: 30px;
  padding-top: 15px;
}

.join-button {
  cursor: pointer;
  padding: 10px 30px;
  color: #ec5242;
  border: 4px solid #ec5242;
  background: #d3d3d3;
  font-size: 1rem;
}

#popup-menu {
  position: fixed;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  background-color: #272a31;
}

#close-hamburger {
  color: #d3d3d3;
  font-size: 30px;
  text-align: end;
  padding-right: 20px;
  padding-top: 15px;
  cursor: pointer;
}

.popup-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.popup-navbar a {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.popup-navbar a:hover,
.popup-navbar a:active {
  color: #ec5242;
}

#close-hamburger > i:hover,
#close-hamburger > i:active {
  color: #ec5242
}

.hide {
  display: none;
}

/* start of hero */
#hero {
  margin-inline: 15px;
}

.hero-greeting {
  color: #ec5242;
  font-size: 22px;
}

#hero-heading {
  background-image:
    linear-gradient(45deg, rgba(255, 25, 31, 0.6), rgba(187, 10, 15, 1), rgba(236, 82, 66, 1)),
    url('../images/coins.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 900;
  line-height: 110%;
  margin-top: 10px;
}

#hero-description {
  border: 3px solid #fff;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1.2px;
  line-height: 24px;
  max-width: 670px;
}

/* dates section start */
#dates {
  margin-inline: 10px;
  text-align: center;
  padding-inline: 5px;
  padding-bottom: 100px;
  background-image: 
    url("../images/Blockchain-Dollar-Sign.svg"),
    url("../images/Blockchain-Chain.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: bottom 10px right 50%, bottom 50px right 10%;
}

#dates #hero-bold {
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0.8;
}

#dates #venue {
  letter-spacing: 1.5px;
  opacity: 0.9;
}

/* dates section end */

/* program section start */
#program {
  background: #272a31;
  color: #eaeced;
  padding-block: 30px;
  padding-inline: 15px;
  background-image: url("../images/x-icon.svg");
  background-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#program ul {
  list-style: none;
}

#program-list > li {
  background: rgba(128, 128, 128, 0.3);
  margin-top: 8px;
  padding: 10px;
}

#program-list > li > ul {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.activity {
  color: #ec5242;
  font-weight: 700;
  font-size: 1.1rem;
  width: 80px;
  margin-right: 25px;
  text-align: center;
}

.activity-description {
  flex: 1;
  line-height: 24px;
}

#join-summit {
  background: #ff5241;
  color: #eaeced;
  font-weight: 900;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
}

/* program section end */

.section-heading-underline {
  width: 20%;
  border: 2px solid #ec5242;
  border-radius: 10px;
  opacity: 0.6;
}

.section-title {
  padding-bottom: 15px;
}

/* start of featured speakers */
#speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.speaker-card:first-child {
  margin-top: 30px;
}

.speaker-card {
  display: flex;
  margin-bottom: 30px;
}

.images {
  position: relative;
  min-width: 150px;
  margin-right: 15px;
  height: 150px;
  margin-block: auto;
}

.speaker-image {
  width: 85%;
  height: 140px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-decor {
  height: 100px;
  width: 60%;
  content: "";
  background-image: url("../images/speakers/checkers.png");
  background-size: 50px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speaker-name {
  font-weight: 700;
}

.work-title {
  color: #ec5242;
  font-style: italic;
}

.speaker-card-divider {
  width: 20%;
  max-width: 100px;
  border: 1px solid darkgray;
}

.speaker-description {
  line-height: 20px;
  letter-spacing: 0.4px;
}

#more-featured-speakers {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 5px;
}

#more-featured-speakers i {
  color: #ec5242;
  font-weight: 900;
}
/* end of featured speakers */

/* START OF ABOUT PAGE */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-about {
  text-align: center;
  padding-inline: 10px;
  margin-bottom: 50px;
}

#hero-about-description {
  margin-inline: 20px;
  padding: 20px 15px;
  font-size: 0.9rem;
  border: 1px solid lightgray;
  background: #fff;
  max-width: 600px;
  text-align: center;
}

#contact-call {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 28px;
  font-size: 0.8rem;
  max-width: 88%;
  margin-bottom: 40px;
}

#contact-call a {
  color: #272a31;
  font-weight: 600;
  font-size: 1rem;
}

.white {
  background: #fff;
  padding: 30px 10px;
  text-align: center;
}

.white > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#about .section-heading-underline {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 40px;
}

#about #divider {
  width: 100vw;
  border: 0.5px solid rgb(230, 230, 230);
}

#about-logo > p {
  width: 80%;
}

#about-logo > h2 {
  width: 90%;
}

#about p:not(p:first-child) {
  font-size: 0.9rem;
}

#about h2 {
  font-size: 1.2rem;
}

#past-summits > p {
  width: 90%;
  padding-inline: 5px;
}

.summit {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
  color: #fff;
  width: 90%;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.summit h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.latest {
  background-image: 
    linear-gradient(90deg, rgba(224, 110, 93, 0.8), rgba(224, 110, 93, 0.8)),
    url("../images/nairobi.jpg");
  background-size: cover;
}

.second-latest {
  background-image: linear-gradient(90deg, rgba(224, 110, 93, 0.8), rgba(224, 110, 93, 0.8)),url("../images/ethiopia.jpg");
  background-color: #ec5242;
  background-size: cover;
}

#partners {
  background: #272a31;
  color: #eaeced;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#partner-logos img {
  height: 70px;
  min-width: 100px;
}

#logo-img {
  border: 1px solid #dbd7d7;
  width: 90%;
  margin-block: 40px;
}

#logo-img img {
  height: 150px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.7rem;
}

footer img {
  height: 80px;
}

/* END OF ABOUT PAGE */

/* desktop version css */
@media only screen and (min-width: 768px) {
  header {
    height: fit-content;
    background: #fff;
    box-shadow: 0 1px 10px lightgray;
  }

  #home-nav {
    background-image: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  .navbar li:not(li.logo) {
    margin-inline: 10px;
  }

  .navbar a {
    text-decoration: none;
    color: #272a31;
  }

  .navbar a:hover,
  .navbar a:active {
    color: #ec5242;
  }

  .hamburger-menu-icon {
    display: none;
  }

  .logo {
    margin-right: auto;
  }

  .logo img {
    height: 70px;
  }

  .join-button {
    background: transparent;
  }
}
